
.classe1 { 
    UL {
background-color: red;
    }
    LI {
        background-color: blue;
        padding: 10px 0xp;
    }
    button{
        background-color: green;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: red;
            transition: 500ms;

        }
    }
}
